@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "DM Sans", 'sans-serif';
  font-optical-sizing: auto;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
}